body{
    background-color: rgb(22, 22, 42);
    margin-top: 100px;
    color: rgb(10, 69, 18);
}
.carousel-container {
    width: 600px;
    height: 400px;
    position: relative;
    margin: 0 auto;
}
.navigation .prev { 
position: absolute; 
z-index: 10; 
font-size: 25px;
top: 70%;
left: 80px;
font-weight: 700;
}

.navigation .next {
    left: 1000px;
    position: absolute;
    font-size: 25px;
    z-index: 10;
    top: 70%;
}

.navigation .nav-btn {
    background: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.navigation .nav-btn:hover {
    background: white;
  }
  
  .carousel {
    margin-top: 20px;
    transition: all 0.3s ease;
   
  }
  .carousel img {
    width: 1100px;
    transition: all 0.3s ease;
    border:7px solid black;
    border-radius: 50%;
    margin-right: 80%;
  }
  .caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: aquamarine;
    background: rgba(0, 0, 0, 0.3);
    height: 35px;
  }
  .item {
    position: absolute;
    display: none;
  }
  .main {
    display: block;
  }

  
  